<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!------------------ Font Awesome ----------------------->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-------------------------------- rating css ---------------------------------->
  <link rel="stylesheet" href="styles/rating.css"

  <!-------------------------------- rating css ---------------------------------->
  <link rel="stylesheet" href="styles/resource_view.css"/>

</head>

<body>
  <%- include("./partials/_nav-bar") %>
  <div class="card text-center" style="
  opacity: 0.8;
">

    <div class="card-body">
      <h5 class="card-title">The Great wall of Resources</h5>

      <% for (resource of rows) { %>
      <p></p>

      <div class="card mb-3" style="max-width: none;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="<%= resource.url_image %>" class="card-img" alt="<%= resource.title %>" height="250px" width="250px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= resource.title %></h5>
              <p class="card-text"><%= resource.description %></p>
              <p><a href="<%= resource.url %>">Click here to visit the RESOURCE !</a></p>

              <i class="fa fa-thumbs-up" id="<%= resource.id %>"> <%= resource.liked %></i>
              <div>


              <b class="rating">
                 <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
              </b>

              <b style="display: inline-table ; padding: 10px;">
              <%= resource.rating %>
            </b>
            </div>
            </div>
          </div>
        </div>
      </div>


      <!--
        <div class="display div">
      <div class="card border-success mb-3" style="max-width: 100rem;">
        <div class="card-header bg-transparent border-success">Header</div>
        <div class="card-body text-success">
          <img src=<%= resource.url_image %> alt=<%= resource.title %> height="100" width="100">
        </div>
        <div class="all other data">
          <h5 class="card-title"><%= resource.title %></h5>

          <p><a href="<%= resource.url %>">Click here to visit the RESOURCE !</a></p>
          <p class="card-text"><%= resource.description %></p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
        <i class="fa fa-thumbs-up"> <%= resource.liked %></i>

      </div>
    </div>
    -->
      <% } %>

    </div>

  </div>


  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

    <script src="scripts/app.js"></script>
</body>

</html>
